html
  font-size 14px

body
  font-size 14px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

pre
  border 0

a:hover
a:focus
  text-decoration none

p
  margin 1rem 0

h2
  padding-bottom .5rem

table
  border-collapse collapse
  margin 0
  display: table
  overflow-x: auto

tr
  border-top 0

  &:nth-child(2n)
    background-color transparent

th, td
  border 0
  padding 0

{$contentClass}:not(.custom)
  a:hover
    text-decoration none
